@charset "UTF-8";
/*abstract*/
/*base*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  inline-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

li {
  list-style-type: none;
}

a {
  cursor: default;
  text-decoration: none;
}

/*conponements*/
.burgerBtn_menu {
  position: relative;
}

.burgerBtn_icon {
  height: 30px;
  font-size: 2em;
  display: flex;
  padding-inline-end: 0.5em;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1000;
  color: #000000;
}

.burgerBtn_title {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.6em;
}

.burgerBtn_links {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100vw;
  height: 100vh;
  background-color: #110c5f;
  color: #ffffff;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  transition: all 0.5s ease-in-out;
  z-index: 999;
  padding-block: 1em;
}

.burgerBtn_links.open {
  left: 0;
}

.burgerBtn_links ul {
  text-align: center;
  max-height: calc(100vh - 4em);
  overflow-y: auto;
  padding: 0;
  margin: 0;
}

.burgerBtn_links ul li {
  margin: 20px 0;
}

.burgerBtn_links ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
  transition: color 0.5s linear;
  cursor: pointer;
}

.burgerBtn_links ul li a:hover {
  color: #155d89;
  -webkit-text-decoration: underline #155d89;
          text-decoration: underline #155d89;
}

.burgerBtn_liens {
  display: flex;
  flex-flow: column nowrap;
}

.burgerBtn_close {
  height: 10px;
  color: #ffffff;
  position: absolute;
  top: 2em;
  right: 2em;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .burgerBtn_menu {
    display: none;
  }
}
@media screen and (min-width: 800px) {
  .burgerBtn_links {
    left: -110%;
  }
}
.carousel {
  padding-block-start: 1em;
  max-height: 210px;
  overflow-y: auto;
  position: relative;
  z-index: 1;
  margin-block-end: 1.8em;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel_container {
  position: relative;
  text-align: center;
}

.carousel_text {
  font-family: "Montserrat", sans-serif;
  padding-inline: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carousel_text.scrollable {
  max-height: 130px;
  overflow-y: auto;
}

/* Masquer la barre de défilement sur les navigateurs Webkit (Chrome, Safari, Edge) */
.scrollable::-webkit-scrollbar {
  display: none;
}

/* Masquer la barre de défilement sur Firefox */
.scrollable {
  scrollbar-width: none; /* Supprime la scrollbar */
  /* Optionnel : Pour IE10+ */
  -ms-overflow-style: none; /* Supprime la scrollbar sur Internet Explorer */
}

.carousel_icon {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.carousel_icon.show {
  opacity: 1;
}

@media screen and (min-width: 900px) {
  .carousel {
    inline-size: 25em;
    margin-inline: auto;
  }
}
@media screen and (min-width: 1024px) {
  .carousel {
    inline-size: 50em;
  }
  .carousel_text {
    font-size: 1.5em;
  }
  .carousel_title {
    font-size: 1.5em;
  }
}
.spinner {
  position: relative;
  width: 28.8px;
  height: 28.8px;
}

.spinner::before,
.spinner::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  animation: spinner-b4c8mmlg 0.5s backwards, spinner-49opz7lg 1.25s 0.5s infinite ease;
  border: 7.2px solid #e70c0c;
  border-radius: 50%;
  box-shadow: 0 -43.2px 0 -7.2px #e70c0c;
  position: absolute;
  top: 25em;
  left: 60em;
}

.spinner::after {
  animation-delay: 0s, 1.25s;
}

@keyframes spinner-b4c8mmlg {
  from {
    box-shadow: 0 0 0 -7.2px #e70c0c;
  }
}
@keyframes spinner-49opz7lg {
  to {
    transform: rotate(360deg);
  }
}
/*layout*/
.footer {
  background-color: #110c5f;
  color: #ffffff;
  text-align: center;
  position: relative;
  padding: 1em 0;
  z-index: 1;
}

.footer_liens {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  padding-block-start: 1em;
}

.footer_lien {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.footer_icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}

.footer_icon:hover {
  color: #155d89;
}

.footer_lien:hover {
  color: #155d89;
  -webkit-text-decoration: underline #155d89;
          text-decoration: underline #155d89;
}

@media screen and (min-width: 1024px) {
  .footer_liens {
    display: flex;
    gap: 1em;
    justify-content: center;
    padding-block: 0 1em;
    font-size: 1.5em;
  }
}
.navbar {
  position: fixed;
  inline-size: 100%;
  block-size: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  z-index: 10;
}

.navbar_logo {
  block-size: 100%;
  inline-size: 15vh;
}

.navbar_liens {
  list-style-type: none;
  display: none;
}

.navbar_title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1em;
  text-align: center;
}

@media screen and (min-width: 230px) {
  .navbar {
    block-size: 10vh;
  }
}
@media screen and (min-width: 750px) {
  .navbar {
    block-size: 10vh;
  }
}
@media screen and (min-width: 1024px) {
  .navbar {
    block-size: 8vh;
  }
  .navbar_title {
    font-size: 20px;
  }
  .navbar_liens {
    display: flex;
    gap: 1em;
    padding-inline-end: 1em;
  }
  .navbar_lien {
    font-size: 1.5em;
    color: #000000;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
  }
  .navbar_lien:hover {
    color: #155d89;
  }
}
.page_container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  padding-top: 7vh;
  background-color: #dcf2fa;
  flex: 1;
}

@media screen and (min-width: 230px) {
  .main {
    padding-top: 10vh;
  }
}
@media screen and (min-width: 1024px) {
  .main {
    padding-top: 8vh;
  }
}
/*pages*/
.contact_container {
  min-height: 81vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.contact_title {
  text-align: center;
  font-family: "Oswald", sans-serif;
  margin-block: 1em;
  text-decoration: underline;
}

.contact_form {
  display: flex;
  flex-flow: column nowrap;
  inline-size: 90%;
  margin-inline: auto;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 2em;
  margin-block-end: 1.5em;
}

.contact_form_title {
  text-align: center;
  padding-block-end: 1em;
}

.contact_form_input {
  padding-inline-start: 0.5em;
  border-radius: 6px;
}

.contact_form_input:focus {
  outline-color: #000000;
}

.contact_form_block {
  display: flex;
  flex-flow: column nowrap;
  padding-block: 0.3em;
}

.contact_telephone_input {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5em;
  width: 100%;
}

.contact_telephone_input select,
.contact_telephone_input input[type=text] {
  flex: 1;
  min-width: 0;
}

.contact_form_text {
  height: 5em;
  margin-block-end: 1em;
  padding-inline-start: 0.5em;
}

.contact_form_text:focus {
  outline-color: #000000;
}

.contact_form_btn {
  border-radius: 5px;
  padding-block: 0.4em;
  transition: all 0.5s ease-in-out;
  border: none;
  cursor: pointer;
}

.contact_form_btn:hover {
  background-color: #110c5f;
  color: #ffffff;
}

.contact_sections {
  display: flex;
  flex-flow: column;
  margin-block-end: 1em;
  gap: 1em;
}

.contact_section {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 1em;
}

.contact_section_link {
  cursor: pointer;
  color: #155d89;
  transition: color 0.3s ease-in-out;
  text-align: center;
}

.contact_section_link:hover {
  color: #110c5f;
}

.contact_img {
  display: none;
}

@media screen and (min-width: 480px) {
  .contact_sections {
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-block: 2em 0;
  }
  .contact_telephone_input select,
  .contact_telephone_input input[type=text] {
    width: 100%;
  }
}
@media screen and (min-width: 900px) {
  .contact_img {
    display: block;
    height: 30em;
    width: 55%;
    border-radius: 8px 0 0 8px;
  }
  .contact_form_title {
    font-size: 1.4em;
  }
  .contact_bloc {
    display: flex;
    margin-inline: auto;
    inline-size: 80%;
  }
  .contact_form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 8px 8px 0;
    margin-block-end: 0;
  }
}
@media screen and (max-width: 900px) {
  .contact_title {
    font-size: 1.7em;
    padding-block-start: 0.5em;
  }
  #telephone::-moz-placeholder {
    font-size: 0.8em;
  }
  #telephone::placeholder {
    font-size: 0.8em;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .contact_sections {
    margin-block-end: 1em;
    justify-content: space-evenly;
  }
  .contact_email_domain {
    display: block;
    margin-top: 0.2em;
  }
}
.errorPage_section {
  background-color: #000000;
  color: #ffffff;
}

.errorPage_titre {
  text-align: center;
  font-size: 3em;
}

.errorPage_btn {
  display: block;
  margin-inline: auto;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.errorPage_img {
  block-size: 91vh;
  inline-size: 90vw;
  margin-inline: auto;
}

.home_container {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-block-end: 3em;
}

.home_text {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  max-width: 600px;
  line-height: 1.4;
  margin-inline: auto;
  margin-top: 1em;
  padding-inline: 2em;
  margin-block-end: 0.6em;
}

@media screen and (min-width: 750px) {
  .home_img {
    width: 100%;
    height: 100vh;
    max-height: 100%;
    -o-object-position: bottom;
       object-position: bottom;
  }
}
@media screen and (min-width: 1000px) {
  .home_img {
    height: 85vh;
  }
  .home_text {
    font-size: 2em;
    max-width: 1000px;
  }
}
.magnetisme_title {
  font-size: 1.6em;
  font-family: "Oswald", sans-serif;
  text-align: center;
  margin-block: 2em 1em;
  text-decoration: underline;
}

.magnetisme_title2 {
  text-align: center;
  margin-block: 1em;
  font-family: "Oswald", sans-serif;
}

.magnetisme_text {
  font-family: "Montserrat", sans-serif;
  inline-size: 80%;
  font-size: 1.5em;
  line-height: 1.4;
  text-align: center;
  margin-inline: auto;
  margin-block-end: 2em;
  max-height: none;
  overflow: visible;
}

.magnetisme_lists {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-block-end: 1em;
}

.magnetisme_lists_title {
  padding-block-end: 1em;
  font-family: "Oswald", sans-serif;
  text-align: center;
}

.magnetisme_lists_text {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  text-align: center;
  font-size: 1.4em;
}

.magnetisme_text2 {
  font-size: 1.2em;
  text-align: center;
  padding-inline: 1em;
  margin-block-end: 1em;
}

@media screen and (min-width: 900px) and (max-width: 1400px) {
  .magnetisme_text {
    max-height: 200px;
    overflow-y: auto;
  }
}
@media screen and (max-width: 900px) {
  .magnetisme_title {
    font-size: 1.3em;
  }
  .magnetisme_lists {
    padding-inline: 1em;
  }
}
@media screen and (min-width: 800px) {
  .magnetisme_title {
    font-size: 2em;
  }
}
@media screen and (min-width: 900px) {
  .magnetisme_img {
    block-size: 20em;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .magnetisme_text {
    max-block-size: 10em;
  }
  .magnetisme_flex {
    display: flex;
    margin-inline: 2em;
    padding-block-end: 1em;
    margin-block: 5em;
  }
  .magnetisme_article {
    display: flex;
    flex-flow: column nowrap;
  }
  .magnetisme_article2 {
    margin-block-end: 5em;
  }
}
.seanceADistance_container {
  position: relative;
  overflow: hidden;
  min-height: 81vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.seanceADistance_video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translate(-50%, -50%);
}

.seanceADistance_titre,
.seanceADistance_text,
.seanceADistance_contact {
  position: relative;
  z-index: 1;
}

.seanceADistance_titre {
  font-family: "Oswald", sans-serif;
  padding-block: 1em;
  text-align: center;
  text-decoration: underline;
}

.seanceADistance_text {
  font-family: "Montserrat", sans-serif;
  inline-size: 80%;
  font-size: 1.5em;
  line-height: 1.4;
  text-align: center;
  margin-inline: auto;
  margin-block-end: 2em;
  background: linear-gradient(to right, #000000, rgba(122, 122, 122, 0.568));
  -webkit-background-clip: text;
  color: #110c5f;
}

.seanceADistance_contact {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 1em;
}

.seanceADistance_img {
  inline-size: 65%;
}

.seanceADistance_liens {
  margin-block-end: 0.6em;
  text-align: center;
}

.seanceADistance_text2 {
  font-family: "Montserrat", sans-serif;
  padding-block-start: 1em;
  color: #ffffff;
  font-size: 0.9em;
}

.seanceADistance_span {
  text-decoration: underline;
}

.seanceADistance_icon {
  color: #110c5f;
  margin-block-start: 1em;
  font-size: 2rem;
  transition: color 0.3s ease-in-out;
}

.seanceADistance_icon:hover {
  color: blue;
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  .seanceADistance_img {
    inline-size: 30%;
  }
}
.tarifs_container {
  margin-block-end: 2em;
  min-height: 81vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.tarifs_service_container {
  display: flex;
  justify-content: center;
}

.tarifs_service {
  font-family: "Montserrat", sans-serif;
  margin-block-start: 2em;
}

.tarifs_title {
  text-align: center;
  margin-block: 1em;
  text-decoration: underline;
}

.tarifs_article {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 8px;
  inline-size: 20em;
  margin-inline: auto;
  margin-block-end: 1em;
}

.tarifs_icon {
  font-size: 3em;
  margin-block: 0.4em;
}

.tarifs_articleTitle {
  text-align: center;
  padding-block-end: 1.5em;
}

.tarifs_articleText {
  padding-block-end: 0.6em;
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 900px) {
  .tarifs_service {
    padding-block-start: 0.5em;
    text-align: center;
    max-width: 95%;
  }
  .tarifs_article {
    max-width: 90%;
  }
}
@media screen and (min-width: 1000px) {
  .tarifs_articles {
    display: grid;
    grid-template-columns: repeat(2, 20em);
    justify-content: center;
    -moz-column-gap: 1em;
         column-gap: 1em;
  }
}
.temoignages_container {
  min-height: 81vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.temoignages_title {
  text-align: center;
  font-family: "Oswald", sans-serif;
  margin-block: 1em;
  text-decoration: underline;
}

.temoignages_form {
  display: flex;
  flex-flow: column nowrap;
  inline-size: 90%;
  margin-inline: auto;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 2em;
  margin-block-end: 2em;
}

.temoignages_form_title {
  text-align: center;
  font-size: 1.4em;
  padding-block-end: 2em;
}

.temoignages_form_input {
  padding-inline-start: 0.5em;
  border-radius: 6px;
}

.temoignages_form_input:focus {
  outline-color: #000000;
}

.temoignages_form_block {
  display: flex;
  flex-flow: column nowrap;
  padding-block: 0.3em;
}

.temoignages_form_text {
  height: 5em;
  margin-block-end: 1em;
  padding-inline-start: 0.5em;
}

.temoignages_form_text:focus {
  outline-color: #000000;
}

.temoignages_form_btn {
  border-radius: 5px;
  padding-block: 0.4em;
  transition: all 0.5s ease-in-out;
  border: none;
  cursor: pointer;
}

.temoignages_form_btn:hover {
  background-color: #110c5f;
  color: #ffffff;
}

.temoignages_img {
  display: none;
}

@media screen and (min-width: 900px) {
  .temoignages_img {
    display: block;
    height: 30em;
    width: 60%;
    border-radius: 8px 0 0 8px;
  }
  .temoignages_bloc {
    display: flex;
    margin-inline: 2em;
  }
  .temoignages_form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 8px 8px 0;
    margin-block-end: 0;
  }
}
@media screen and (min-width: 1024px) {
  .temoignages_bloc {
    inline-size: 70%;
    margin-inline: auto;
  }
}
@media screen and (min-width: 1900px) {
  .temoignages_bloc {
    inline-size: 50%;
  }
}
/*themes*/
/*vendors*/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}/*# sourceMappingURL=main.css.map */