.footer {
  background-color: $darkBlue;
  color: $white;
  text-align: center;
}
.footer_liens {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  padding-block-start: 1em;
}
.footer_lien {
  text-decoration: none;
  color: $white;
  cursor: pointer;
}
.footer_icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: $white;
}

.footer_icon:hover {
  color: $mediumBlue;
}

.footer_lien:hover {
  color: $mediumBlue;
  text-decoration: underline $mediumBlue;
}
