.navbar {
  position: fixed;
  inline-size: 100%;
  block-size: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $darkBlue;
  color: $white;
  z-index: 10;
}
.navbar_logo {
  block-size: 100%;
  inline-size: 15vh;
}
.navbar_liens {
  list-style-type: none;
  display: none;
}

.navbar_title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1em;
  text-align: center;
}

@media screen and (min-width: 230px) {
  .navbar {
    block-size: 10vh;
  }
}
@media screen and (min-width: 750px) {
  .navbar {
    block-size: 10vh;
  }
}
@media screen and (min-width: 1024px) {
  .navbar {
    block-size: 8vh;
  }
  .navbar_title {
    font-size: 1.3em;
  }
  .navbar_liens {
    display: flex;
    gap: 1em;
    padding-inline-end: 1em;
  }
  .navbar_lien {
    color: $white;
    cursor: pointer;
    transition: $transition;
  }
  .navbar_lien:hover {
    color: $mediumBlue;
  }
}
