.page_container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  padding-top: 7vh;
  background-color: $lightBlue;
  flex: 1;
}

@media screen and (min-width: 230px) {
  .main {
    padding-top: 10vh;
  }
}
// @media screen and (min-width: 750px) {
//   .main {
//     padding-top: 10vh;
//   }
// }

@media screen and (min-width: 1024px) {
  .main {
    padding-top: 8vh;
  }
}
