.carousel {
  padding-block-start: 1em;
  max-height: 200px;
  overflow-y: auto;
  position: relative;
  z-index: 1;
  margin-block-end: 1.8em;
}

.carousel_container {
  position: relative;
  text-align: center;
}

.carousel_text {
  font-family: $font-primary;
  padding-inline: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carousel_text.scrollable {
  max-height: 130px;
  overflow-y: auto;
}

.carousel_icon {
  color: $white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.carousel_icon.show {
  opacity: 1;
}
