.carousel {
  padding-block-start: 1em;
  max-height: 210px;
  overflow-y: auto;
  position: relative;
  z-index: 1;
  margin-block-end: 1.8em;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel_container {
  position: relative;
  text-align: center;
}

.carousel_text {
  font-family: $font-primary;
  padding-inline: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carousel_text.scrollable {
  max-height: 130px;
  overflow-y: auto;
}

/* Masquer la barre de défilement sur les navigateurs Webkit (Chrome, Safari, Edge) */
.scrollable::-webkit-scrollbar {
  display: none;
}

/* Masquer la barre de défilement sur Firefox */
.scrollable {
  scrollbar-width: none; /* Supprime la scrollbar */
  /* Optionnel : Pour IE10+ */

  -ms-overflow-style: none; /* Supprime la scrollbar sur Internet Explorer */
}

.carousel_icon {
  color: $white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.carousel_icon.show {
  opacity: 1;
}

@media screen and (min-width: 900px) {
  .carousel {
    inline-size: 25em;
    margin-inline: auto;
  }
}

@media screen and (min-width: 1024px) {
  .carousel {
    inline-size: 50em;
  }
  .carousel_text {
    font-size: 1.5em;
  }
  .carousel_title {
    font-size: 1.5em;
  }
}
