.home_container {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-block-end: 3em;
}

.home_text {
  font-family: $font-primary;
  text-align: center;
  max-width: 600px;
  line-height: 1.4;
  margin-inline: auto;
  margin-top: 1em;
  padding-inline: 2em;
  margin-block-end: 0.6em;
}

@media screen and (min-width: 750px) {
  .home_img {
    width: 100%;
    height: 100vh;
    max-height: 100%;
    object-position: bottom;
  }
}

@media screen and (min-width: 1000px) {
  .home_img {
    height: 85vh;
  }
}
