.home_container {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-block-end: 3em;
}

.home_text {
  font-family: $font-primary;
  text-align: center;
  max-width: 600px;
  line-height: 1.4;
  margin-top: 1em;
  padding-inline: 2em;
  margin-block-end: 0.6em;
}
