.magnetisme_title {
  font-size: 1.6em;
  font-family: $font-title;
  text-align: center;
  margin-block: 2em 1em;
  text-decoration: underline;
}

.magnetisme_title2 {
  text-align: center;
  margin-block: 1em;
  font-family: $font-title;
}

.magnetisme_text {
  font-family: $font-primary;
  inline-size: 80%;
  font-size: 1.5em;
  line-height: 1.4;
  text-align: center;
  margin-inline: auto;
  margin-block-end: 2em;
  max-height: none;
  overflow: visible;
}

.magnetisme_lists {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-block-end: 1em;
}

.magnetisme_lists_title {
  padding-block-end: 1em;
  font-family: $font-title;
  text-align: center;
}

.magnetisme_lists_text {
  font-family: $font-primary;
  line-height: 1.5;
  text-align: center;
  font-size: 1.4em;
}

.magnetisme_text2 {
  font-size: 1.2em;
  text-align: center;
  padding-inline: 1em;
  margin-block-end: 1em;
}

@media screen and (min-width: 900px) and (max-width: 1400px) {
  .magnetisme_text {
    max-height: 200px;
    overflow-y: auto;
  }
}

@media screen and (max-width: 900px) {
  .magnetisme_title {
    font-size: 1.3em;
  }
  .magnetisme_lists {
    padding-inline: 1em;
  }
}
@media screen and (min-width: 800px) {
  .magnetisme_title {
    font-size: 2em;
  }
}

@media screen and (min-width: 900px) {
  .magnetisme_img {
    block-size: 20em;
    object-fit: contain;
  }
  .magnetisme_text {
    max-block-size: 10em;
  }
  .magnetisme_flex {
    display: flex;
    margin-inline: 2em;
    padding-block-end: 1em;
    margin-block: 5em;
  }

  .magnetisme_article {
    display: flex;
    flex-flow: column nowrap;
  }

  .magnetisme_article2 {
    margin-block-end: 5em;
  }
}
