.magnetisme_title {
  font-size: 1.6em;
  font-family: $font-title;
  text-align: center;
  margin-block: 2em 1em;
  text-decoration: underline;
}

.magnetisme_title2 {
  text-align: center;
  margin-block: 1em;
}

.magnetisme_text {
  font-family: $font-primary;
  font-size: 1.1em;
  line-height: 1.4;
  text-align: center;
  margin-inline: 1.5em;
  margin-block-end: 2em;
}

.magnetisme_text2 {
  font-size: 0.9em;
  text-align: center;
  padding-inline: 1em;
  margin-block-end: 1em;
}
