.seanceADistance_container {
  position: relative;
  overflow: hidden;
  min-height: calc(100vh - 19vh);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.seanceADistance_video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.seanceADistance_titre,
.seanceADistance_text,
.seanceADistance_contact {
  position: relative;
  z-index: 1;
}
.seanceADistance_titre {
  font-family: $font-title;
  padding-block: 1em;
  text-align: center;
  text-decoration: underline;
}

.seanceADistance_text {
  font-family: $font-primary;
  inline-size: 80%;
  font-size: 1.5em;
  line-height: 1.4;
  text-align: center;
  margin-inline: auto;
  margin-block-end: 2em;
  background: linear-gradient(to right, $black, rgba(122, 122, 122, 0.568));
  -webkit-background-clip: text;
  color: $darkBlue;
}

.seanceADistance_contact {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 1em;
}
.seanceADistance_img {
  inline-size: 65%;
}

.seanceADistance_liens {
  margin-block-end: 0.6em;
  text-align: center;
}

.seanceADistance_text2 {
  font-family: $font-primary;
  padding-block-start: 1em;
  color: $white;
  font-size: 0.9em;
}
.seanceADistance_span {
  text-decoration: underline;
}
.seanceADistance_icon {
  color: $darkBlue;
  margin-block-start: 1em;
  font-size: 2rem;
  transition: $transition;
}
.seanceADistance_icon:hover {
  color: blue;
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  .seanceADistance_img {
    inline-size: 30%;
  }
}
