.tarifs_container {
  margin-block-end: 2em;
  min-height: calc(100vh - 19vh);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.tarifs_service_container {
  display: flex;
  justify-content: center;
}
.tarifs_service {
  font-family: $font-primary;

  margin-block-start: 2em;
}

.tarifs_title {
  text-align: center;
  margin-block: 1em;
  text-decoration: underline;
}

.tarifs_article {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: 1px solid $black;
  border-radius: 8px;
  inline-size: 20em;
  margin-inline: auto;
  margin-block-end: 1em;
}

.tarifs_icon {
  font-size: 3em;
  margin-block: 0.4em;
}
.tarifs_articleTitle {
  text-align: center;
  padding-block-end: 0.5em;
}
.tarifs_articleText {
  padding-block-end: 0.6em;
}

@media screen and (max-width: 900px) {
  .tarifs_service {
    padding-block-start: 0.5em;
    text-align: center;
    max-width: 95%;
  }
  .tarifs_article {
    max-width: 90%;
  }
}
