.temoignages_container {
  min-height: calc(100vh - 19vh);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.temoignages_title {
  text-align: center;
  font-family: $font-title;
  margin-block: 1em;
  text-decoration: underline;
}

.temoignages_form {
  display: flex;
  flex-flow: column nowrap;
  inline-size: 90%;
  margin-inline: auto;
  background-color: $white;
  border-radius: 8px;
  padding: 2em;
  margin-block-end: 2em;
}
.temoignages_form_title {
  text-align: center;
  font-size: 1.4em;
  padding-block-end: 2em;
}
.temoignages_form_input {
  padding-inline-start: 0.5em;
  border-radius: 6px;
}

.temoignages_form_input:focus {
  outline-color: $black;
}
.temoignages_form_block {
  display: flex;
  flex-flow: column nowrap;
  padding-block: 0.3em;
}
.temoignages_form_text {
  height: 5em;
  margin-block-end: 1em;
  padding-inline-start: 0.5em;
}
.temoignages_form_text:focus {
  outline-color: $black;
}

.temoignages_form_btn {
  border-radius: 5px;
  padding-block: 0.4em;
  transition: all 0.5s ease-in-out;
  border: none;
  cursor: pointer;
}

.temoignages_form_btn:hover {
  background-color: $darkBlue;
  color: $white;
}
.temoignages_img {
  display: none;
}

@media screen and (min-width: 900px) {
  .temoignages_img {
    display: block;
    height: 30em;
    width: 60%;
    border-radius: 8px 0 0 8px;
  }
  .temoignages_bloc {
    display: flex;
    margin-inline: 2em;
  }
  .temoignages_form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 8px 8px 0;
    margin-block-end: 0;
  }
}
